{% extends "layout.view.njk" %}
{% block content %}
<tr>
  <td style="padding: 0 2.5em; text-align: center; padding-bottom: 3em;">
    <div class="text">
      <h2>Reset password</h2>
    </div>
  </td>
</tr>
<tr>
  <td style="padding: 0px 30px;">
    <h3>Your Password has been reset successfully</h3>
  </td>
</tr>
{% endblock %}