{% extends "layout.view.njk" %}
{% block content %}
<tr>
  <td style="padding: 0 2.5em; text-align: center; padding-bottom: 3em;">
    <div class="text">
      <h2>Reset password code</h2>
    </div>
  </td>
</tr>
<tr>
  <td style="padding: 0px 30px;">
    <h3>You are just one step away, please enter this code to reset your password:</h3>
    <p style="text-align: center;font-size: 2rem;letter-spacing: 1rem;">{{code}}</p>
  </td>
</tr>
{% endblock %}